<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Bettle Smasher</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= BASE_URL %>apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= BASE_URL %>favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= BASE_URL %>favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= BASE_URL %>android-chrome-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= BASE_URL %>android-chrome-512x512.png"
      sizes="512x512"
    />
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=KoHo:wght@700&family=Roboto+Mono:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but Bettle Smasher doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
