<template>
  <div class="container">
    <header>
      <h1>
        Bettle With Monster
      </h1>
      <h2>
        Fight Monster And Win
      </h2>
    </header>
    <section class="health_container">
      <section class="health_indicator">
        <h1>Monster</h1>
        <section class="progress_bar">
          <section class="indicator" :style="monsterHealthStyle"></section>
        </section>
      </section>
      <section class="health_indicator">
        <h1>You</h1>
        <section class="progress_bar">
          <section
            class="indicator"
            :style="{ width: playerHealth + '%' }"
          ></section>
        </section>
      </section>
    </section>
    <section class="attack_btn">
      <section v-if="winner">
        <section class="winner">
          <h1>Game Over !</h1>
          <h2 v-if="winner === 'monster'">Monster Win</h2>
          <h2 v-if="winner === 'player'">You Win</h2>
          <h2 v-if="winner === 'draw'">Game Draw</h2>
          <button @click="restart">Restart Game</button>
        </section>
      </section>
      <section class="button_group" v-else>
        <button @click="attack">Attack</button>
        <button @click="SpecialAttack">
          Spacial Attack
        </button>
        <button @click="playerHeal" :disabled="healHide">
          Heal
        </button>
        <button class="surrender" @click="surrender">
          Surrender
        </button>
      </section>
    </section>
    <section class="bettle_history">
      <details>
        <summary>Bettle Log</summary>
        <ul>
          <li v-for="log in BettleLogs" :key="log">
            <span
              :class="{
                'log--player': log.actionBy === 'player',
                'log--monster': log.actionBy === 'monster',
              }"
            >
              {{ log.actionBy === "player" ? "player" : "Monster" }}</span
            >
            <span v-if="log.actionType === 'heal'">
              heals himself for
              <span class="log--heal">{{ log.actionValue }}</span>
            </span>
            <span v-else>
              Attacks and Deals
              <span class="log--damage">{{ log.actionValue }}</span>
            </span>
          </li>
        </ul>
      </details>
    </section>
  </div>
</template>
<script>
const randomNum = (min, max) => Math.floor(Math.random() * (max - min)) + min;
export default {
  data() {
    return {
      monsterHealth: 100,
      playerHealth: 100,
      winner: null,
      BettleLogs: [],
      currentRound: null,
    };
  },
  watch: {
    playerHealth(value) {
      if (this.monsterHealth <= 0 && value <= 0) this.winner = "draw";
      else if (value < 0) this.winner = "monster";
    },
    monsterHealth(value) {
      if (this.playerHealth <= 0 && value <= 0) this.winner = "draw";
      else if (value < 0) this.winner = "player";
    },
  },
  computed: {
    monsterHealthStyle() {
      if (this.monsterHealth < 0) return { width: "0%" };
      return { width: this.monsterHealth + "%" };
    },
    healHide() {
      return this.currentRound % 3 !== 0;
    },
  },
  methods: {
    monsterDamage() {
      const attackpower = randomNum(5, 15);
      this.monsterHealth -= attackpower;
      this.bettleLog("player", "Attack", attackpower);
    },
    playerDamage() {
      const attackpower = randomNum(10, 20);
      this.playerHealth -= attackpower;
      this.bettleLog("monster", "Attack", attackpower);
    },
    attack() {
      this.currentRound++;
      this.monsterDamage();
      this.playerDamage();
    },
    monsterSpecialDamage() {
      const attackpower = randomNum(10, 20);
      this.monsterHealth -= attackpower;
      this.bettleLog("monster", "Special Attack", attackpower);
    },
    playerSpecialDamage() {
      const attackpower = randomNum(15, 25);
      this.playerHealth -= attackpower;
      this.bettleLog("player", "Special Attack", attackpower);
    },
    SpecialAttack() {
      this.currentRound++;
      this.monsterSpecialDamage();
      this.playerSpecialDamage();
    },
    playerHeal() {
      this.currentRound++;

      const healPower = randomNum(15, 25);
      if (this.playerHealth + healPower > 100) {
        this.playerHealth = 100;
      } else {
        this.playerHealth += healPower;
        this.bettleLog("player", "heal", healPower);
      }
    },
    surrender() {
      this.winner = "monster";
    },

    restart() {
      this.monsterHealth = 100;
      this.playerHealth = 100;
      this.winner = null;
      this.BettleLogs = [];
    },
    bettleLog(who, what, value) {
      this.BettleLogs.unshift({
        actionBy: who,
        actionType: what,
        actionValue: value,
      });
    },
  },
};
</script>
<style>
*,
*::after,
*:before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
button {
  font-family: "Roboto Mono", monospace;
}
h1,
h2 {
  text-align: center;
  font-family: "KoHo", sans-serif;
  color: #fff;
}
header {
  margin: 2% auto;
  width: 50%;
  height: 100px;
  background: purple;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 2px 5px palevioletred;
}
.health_container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  margin: 2% auto;
  box-shadow: 1px 2px 10px rgba(139, 0, 139, 0.521);
  border-radius: 10px;
}

.health_indicator {
  margin: 2% auto;
  width: 50%;
  height: 70px;
  border-radius: 10px;
}
.health_indicator h1 {
  color: rgb(34, 34, 34);
  font-size: 1.5rem;
}
.progress_bar {
  position: relative;
  height: 80%;
  width: 90%;
  border-radius: 10px;
  background: lightgrey;
  padding: 20px 0 0 0;
  margin: auto;
  transition: all 0.6s linear;
}

.indicator {
  background: seagreen;
  width: 100%;
  height: 90%;
  margin: -1.5% 0;
  position: relative;
  border-radius: 10px;
  transition: all 0.6s linear;
}
.attack_btn {
  width: 30%;
  position: absolute;
}
.button_group {
  display: grid;
  align-items: center;
}
.bettle_history {
  left: 30%;
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
}
.log--player {
  color: greenyellow;
}
.log--monster {
  color: lightcoral;
}
.log--damage {
  color: red;
}
.log--heal {
  color: green;
}
.winner {
  display: grid;
  align-items: center;
  line-height: 50px;
}
.winner h2,
.winner h1 {
  color: black;
  font-size: 200%;
}
button {
  width: 150px;
  height: 60px;
  background: plum;
  border-radius: 20px;
  box-shadow: 2px 2px 10px violet;
  border: 2px solid rebeccapurple;
  font-size: 1.2rem;
  margin: 2% auto;
  appearance: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  box-shadow: inset 2px 2px 10px rgb(255, 81, 255);
}

@media screen and (max-width: 995px) {
  .health_container {
    height: 200px;
  }
  .indicator {
    margin: -2% 0;
  }
  .health_container {
    display: block;
  }
  .health_indicator {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  header {
    width: 70%;
  }
  .attack_btn {
    width: 50%;
  }
  .bettle_history {
    left: 60%;
  }
}
</style>
